<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /*
  ~ *  Created Your Name on 30.10.20 15:32
  ~ *  Copyright Ⓒ 2020. All rights reserved Ⓒ 2020 http://freefuninfo.com/
  ~ *  Last modified: 30.10.20 14:29
  ~ *
  ~ *  Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
  ~ *  except in compliance with the License. You may obtain a copy of the License at
  ~ *  http://www.apache.org/licenses/LICENS... Unless required by applicable law or agreed to in writing, software
  ~ *   distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
  ~ *   either express or implied. See the License for the specific language governing permissions and
  ~ *   limitations under the License.
  ~ */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aba">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".task.UploadVideo"></activity>
        <activity android:name=".skip.SkipData" />
        <activity android:name=".menuActivity.SensorKit" />
        <activity android:name=".working_and_test.EncryptAndDecryptData" />
        <activity android:name=".working_and_test.StepCounter" />
        <activity android:name=".task.TaskList" />
        <activity android:name=".users.RecoverPasswordWithFBAuth" />
        <activity android:name=".menuActivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".users.LoginWithFBAuth" />
        <activity android:name=".comment.days.DayComment" />
        <activity android:name=".users.registration.FirstStepOfRegistrationWithOAuth" />
        <activity android:name=".users.UsersList" />
        <activity android:name=".unimplementedOrUnused.Test3" />
        <activity android:name=".users.UserPersonalData" />
        <activity android:name=".unimplementedOrUnused.ToConfirmReg" />
        <activity android:name=".kids.KidInfo" />
        <activity android:name=".unimplementedOrUnused.DayTaskActivity" />
        <activity android:name=".unimplementedOrUnused.Login" />
        <activity android:name=".users.registration.SecondStepOfRegistration" />
        <activity
            android:name=".menuActivity.NavdrawActivity"
            android:label="@string/title_activity_navdraw"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menuActivity.Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menuActivity.Chat"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menuActivity.Doctors"
            android:label="@string/title_activity_doctors"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".kids.KidList"
            android:label="@string/title_activity_kids"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".menuActivity.Menu"
            android:label="@string/title_activity_menu1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".users.registration.ThirdStepOfRegistrationAddKid"
            android:label="@string/title_activity_add_kid1"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>